.button-view {
  background-color: lightgray;
  border: none;
  font-size: 13px;
  padding: 5px 15px;
  border-radius: 30px;
  height: 30px;
}

.button-view:active {
  padding: 4px 14px;
  height: 29px;
}
