.app-default-layout {
  width: 100vw;
  height: 100vh;
}

.app-main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100% - 70px);
}

.app-content {
  width: calc(100% - 200px);
  height: calc(100% - 20px);
  padding: 10px;
  overflow-y: auto;
}
